.SocietyContain{
    width: 100%;
    height: 10%;
    background-image: url('./images/SocBG.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SocietyWrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.SocietyContent{
    padding: 5%;
    display: flex;
    margin: auto;
    top: 0;
    left: 0;
    height: 100%;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.Poster1{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Poster2{
    margin-top: 150px;
    display: flex;
    justify-content: flex-end;
}
.P2Box{
    width: 30%;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 50px;
    line-height: 30px;
}

#br{
    background-image: url('./images/hr_smart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
}

.footerList{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.FBox1,.FBox2,.FBox3 {
    max-width: 30%;
    width: 40%;
    margin: 0 10px;
}


#Flio{
    display: flex;
    align-items: center;
}

#Fliot{
    font-weight: 300;
    font-size: 24px;
    padding-bottom: 20px;
}

@media (max-width: 959px){
    .SocietyContent{
        zoom: 80%;
    }
    .videoImage{
        zoom: 80%;
    }
    #footerTxt{
        margin-top: 40px;
    }
    .SocietyContent{
        padding: 0%;
    }
}


@media (max-width: 959px){
    .Poster1{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .Poster2{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin: 0;
    }
    .footerList{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 60%;
    }
    .FBox1{
       width: 100%; 
       max-width: 100%;
    }
    .FBox2, .FBox3 {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 768px){
    .Poster1{
        zoom: 80%;
    }
    #footerTxt{
        padding-bottom: 20px;
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width: 435px){
    .Poster2{
        zoom: 75%;
    }
    .P2Box{
        line-height: 20px;
    }
    #footerTxt{
        width: 100%;
    }
}